body {
  background-color: rgb(14, 20, 20);
}

h1 {
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  animation: mymove 4s infinite;
}

@keyframes mymove {
  0% {
    top: 0%;
    left: 25%;
    color: goldenrod;
  }
  20% {
    top: 5%;
    left: 25%;
    color: orangered;
  }
  50% {
    top: 5%;
    left: -25%;
    color: cyan;
  }
  70% {
    top: 0%;
    left: -25%;
    color: greenyellow;
  }
  100% {
    top: 0%;
    left: 25%;
    color: goldenrod;
  }
}
